@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  --blue: #A0E0FF;
  --yellow: #FAE9B2;
  --sun-red: #F27059;
  --background: #020315;
  --background-aboutme: #081c15;
  --background-exp: #d84e33;
  --background-projects: #50366F;
  --foreground-aboutme-text: #d8f3dc;
  --foreground-aboutme-highlight: #95d5b2;
  --foreground-exp-orange: #fefae0;
  --foreground-exp-blue: #A0E0FF;
  --foreground-projects-text: #A0E0FF;
  --foreground-projects-highlight: #FFAEF0;
  --foreground-projects-title: #FAE9B2;
  --font-body: 'Urbanist', sans-serif;
  --font-exp-role: 'Lato', sans-serif;
  --font-title-bold: "Arial Black", "Arial Bold", Gadget, sans-serif;
  --font-title-impact: Impact, "Arial Narrow Bold", "Arial Black", "Arial Bold", Gadget, sans-serif;
}

@theme inline {
  --color-bg-default: var(--background);
  --color-bg-aboutme: var(--background-aboutme);
  --color-yellow: var(--yellow);
  --color-blue: var(--blue);
  --color-bg-exp: var(--background-exp);
  --color-bg-proj: var(--background-projects);
  --color-fg-aboutme-text: var(--foreground-aboutme-text);
  --color-fg-aboutme-highlight: var(--foreground-aboutme-highlight);
  --color-fg-exp-orange: var(--foreground-exp-orange);
  --color-fg-exp-blue: var(--foreground-exp-blue);
  --color-fg-proj-text: var(--foreground-projects-text);
  --color-fg-proj-highlight: var(--foreground-projects-highlight);
  --color-fg-proj-title: var(--foreground-projects-title);
  --font-body: var(--font-body);
  --font-exp-role: var(--font-exp-role);
  --font-title-bold: var(--font-title-bold);
  --font-title-impact: var(--font-title-impact);
}

html {
  min-height: 100vh;
  width: 100vw;
}

body {
  background: var(--color-bg-default);
  color: var(--color-yellow);
  font-family: var(--font-body);
  min-height: 100vh;
  width: 100vw;
}

.TooltipContent {
	border-radius: 7px;
	padding: 7px 10px;
	font-size: 15px;
	line-height: 1;
	color: inherit;
	background-color: rgba(255, 255, 255, 0.2);
	box-shadow:
		hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
		hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
	user-select: none;
	animation-duration: 400ms;
	animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
	will-change: transform, opacity;
  display: relative;
  z-index: 30;
}
.TooltipContent[data-state="delayed-open"][data-side="top"] {
	animation-name: slideDownAndFade;
}
.TooltipContent[data-state="delayed-open"][data-side="right"] {
	animation-name: slideLeftAndFade;
}
.TooltipContent[data-state="delayed-open"][data-side="bottom"] {
	animation-name: slideUpAndFade;
}
.TooltipContent[data-state="delayed-open"][data-side="left"] {
	animation-name: slideRightAndFade;
}

.TooltipArrow {
  fill: rgba(255, 255, 255, 0.2);
}

@keyframes slideUpAndFade {
	from {
		opacity: 0;
		transform: translateY(2px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideRightAndFade {
	from {
		opacity: 0;
		transform: translateX(-2px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slideDownAndFade {
	from {
		opacity: 0;
		transform: translateY(-2px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideLeftAndFade {
	from {
		opacity: 0;
		transform: translateX(2px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}
