@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #020315;
  --background-aboutme: #1A0F2E;
  --blue: #C2FDFC;
  --yellow: #FFF1A8;
  --background-exp: #0C1F26;
  --background-projects: #241A26;
  --foreground-aboutme-purple: #F0A8FF;
  --foreground-exp-blue: #A8E4FF;
  --foreground-projects-pink: #FFAEF0;
  --font-body: 'Urbanist', sans-serif;
  --font-exp-role: 'Lato', sans-serif;
  --font-title-bold: "Arial Black", "Arial Bold", Gadget, sans-serif;
  --font-title-impact: Impact, "Arial Narrow Bold", "Arial Black", "Arial Bold", Gadget, sans-serif;
}

@theme inline {
  --color-bg-default: var(--background);
  --color-bg-aboutme: var(--background-aboutme);
  --color-yellow: var(--yellow);
  --color-blue: var(--blue);
  --color-bg-exp: var(--background-exp);
  --color-bg-proj: var(--background-projects);
  --color-fg-aboutme-purple: var(--foreground-aboutme-purple);
  --color-fg-exp-blue: var(--foreground-exp-blue);
  --color-fg-proj-pink: var(--foreground-projects-pink);
  --font-body: var(--font-body);
  --font-exp-role: var(--font-exp-role);
  --font-title-bold: var(--font-title-bold);
  --font-title-impact: var(--font-title-impact);
}

html {
  min-height: 100vh;
  width: 100vw;
}

body {
  background: var(--color-bg-default);
  color: var(--color-yellow);
  font-family: var(--font-body);
  min-height: 100vh;
  width: 100vw;
}

